/* Intro Page Styles */
.intro-container {
  background-image: url('./assets//floppyintro.png'); /* Replace with actual image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full height */
  width: 100vw; /* Full width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Horizontally centers content */
  text-align: center; /* Ensures text alignment is center */
  align-items: center;
  color: #fff; /* White text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Shadow for readability */
}

.title-box {
  text-align: center;
  margin-bottom: 20px;
}

.play-button {
  padding: 15px 30px;
  font-size: 20px;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 100%);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.play-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Game Component Styles */
.game-div {
  position: relative;
  width: 288px;
  height: 512px;
  background-image: url('./assets/background-night.png');
  background-size: cover;
  overflow: hidden;
}

.bird {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 250px;
  left: 150px;
  transition: 0.2s;
}
.bird > img {
  aspect-ratio: 3/2;
  object-fit: cover;
}

.pipe-top {
  position: absolute;
  top: 0;
  width: 52px;
  background-image: url('./assets/pipe-top.png');
  background-position: bottom;
  transition: 0.7s;
  height: 200px;
}

.pipe-bottom {
  position: absolute;
  height: 200px;
  top: 300px;
  width: 52px;
  background-image: url('./assets/pipe-bottom.png');
  transition: 0.7s;
}

.fore-ground {
  position: absolute;
  bottom: 0;
  width: 288px;
  height: 100px;
  background-color: yellow;
  background-image: url('./assets/foreground.png');
}

.start-btn {
  width: 150px;
}
